#UCF for ZX-UNO
NET "CLK_50"          LOC="P126"  | IOSTANDARD = LVCMOS25 | PERIOD=20.0ns;
#NET "testled"         LOC="P10"  | IOSTANDARD = LVCMOS25;

# Video output
NET O_VIDEO_R(2)      LOC="P100"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
#NET O_VIDEO_R(1)      LOC="P80"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
#NET O_VIDEO_R(0)      LOC="P79"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
NET O_VIDEO_G(2)      LOC="P99"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
#NET O_VIDEO_G(1)      LOC="P83"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
#NET O_VIDEO_G(0)      LOC="P82"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
NET O_VIDEO_B(2)      LOC="P98"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
#NET O_VIDEO_B(1)      LOC="P92"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
#NET O_VIDEO_B(0)      LOC="P88"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
NET O_HSYNC           LOC="P95"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
NET O_VSYNC           LOC="P97"  | IOSTANDARD = LVCMOS25 | DRIVE = 8 | SLEW = FAST;
#NET O_NTSC            LOC="P66"  | IOSTANDARD = LVCMOS25;
#NET O_PAL             LOC="P67"  | IOSTANDARD = LVCMOS25;

# Audio
NET "AUDIO_OUT"       LOC="P94"  | IOSTANDARD = LVCMOS33;
NET "K7_TAPEOUT"      LOC="P115"   | IOSTANDARD = LVCMOS25;
NET "K7_TAPEIN"       LOC="P116"  | IOSTANDARD = LVCMOS25; 

# Keyboard and mouse
NET "PS2CLK1" LOC="P105" | IOSTANDARD = LVCMOS25 | PULLUP;
NET "PS2DAT1" LOC="P104" | IOSTANDARD = LVCMOS25 | PULLUP;
#NET "mouseclk"        LOC="P95"  | IOSTANDARD = LVCMOS25 | PULLUP;
#NET "mousedata"       LOC="P97"  | IOSTANDARD = LVCMOS25 | PULLUP;

# SRAM
#NET "sram_addr<0>"    LOC="P141" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<1>"    LOC="P139" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<2>"    LOC="P137" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<3>"    LOC="P134" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<4>"    LOC="P133" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<5>"    LOC="P120" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<6>"    LOC="P118" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<7>"    LOC="P116" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<8>"    LOC="P114" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<9>"    LOC="P112" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<10>"   LOC="P104" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<11>"   LOC="P102" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<12>"   LOC="P101" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<13>"   LOC="P100" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<14>"   LOC="P111" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<15>"   LOC="P131" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<16>"   LOC="P138" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<17>"   LOC="P140" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<18>"   LOC="P142" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<19>"   LOC="P105" | IOSTANDARD = LVCMOS25;
#NET "sram_addr<20>"   LOC="P143" | IOSTANDARD = LVCMOS25;

#NET "sram_data<0>"    LOC="P132" | IOSTANDARD = LVCMOS25;
#NET "sram_data<1>"    LOC="P127" | IOSTANDARD = LVCMOS25;
#NET "sram_data<2>"    LOC="P124" | IOSTANDARD = LVCMOS25;
#NET "sram_data<3>"    LOC="P123  | IOSTANDARD = LVCMOS25;
#NET "sram_data<4>"    LOC="P115" | IOSTANDARD = LVCMOS25;
#NET "sram_data<5>"    LOC="P117" | IOSTANDARD = LVCMOS25;
#NET "sram_data<6>"    LOC="P119" | IOSTANDARD = LVCMOS25;
#NET "sram_data<7>"    LOC="P126" | IOSTANDARD = LVCMOS25;

#NET "sram_we_n"       LOC="P121" | IOSTANDARD = LVCMOS25;

# SPI Flash
#NET "flash_cs_n"      LOC="P38"  | IOSTANDARD = LVCMOS25;
#NET "flash_clk"       LOC="P70"  | IOSTANDARD = LVCMOS25;
#NET "flash_mosi"      LOC="P64"  | IOSTANDARD = LVCMOS25;
#NET "flash_miso"      LOC="P65"  | IOSTANDARD = LVCMOS25;
#NET "flash_ext1"      LOC="P62"  | IOSTANDARD = LVCMOS25;
#NET "flash_ext2"      LOC="P61"  | IOSTANDARD = LVCMOS25;

# SD/MMC
#NET "sd_cs_n"         LOC="P59"  | IOSTANDARD = LVCMOS25;
#NET "sd_clk"          LOC="P75"  | IOSTANDARD = LVCMOS25;
#NET "sd_mosi"         LOC="P74"  | IOSTANDARD = LVCMOS25;
#NET "sd_miso"         LOC="P78"  | IOSTANDARD = LVCMOS25;

# JOYSTICK
#NET "joyup"           LOC="P1"   | IOSTANDARD = LVCMOS25 | PULLUP;
#NET "joydown"         LOC="P5"   | IOSTANDARD = LVCMOS25 | PULLUP;
#NET "joyleft"         LOC="P6"   | IOSTANDARD = LVCMOS25 | PULLUP;
#NET "joyright"        LOC="P7"   | IOSTANDARD = LVCMOS25 | PULLUP;
#NET "joyfire"         LOC="P2"   | IOSTANDARD = LVCMOS25 | PULLUP;
#NET "joyfire2"        LOC="P8"   | IOSTANDARD = LVCMOS25 | PULLUP;
#NET "joyfire3"        LOC="P39"  | IOSTANDARD = LVCMOS25 | PULLUP;



# Switch
NET "I_RESET"         LOC="P15"  | IOSTANDARD = LVCMOS25 | PULLUP;
NET "I_NMI"           LOC="P111"  | IOSTANDARD = LVCMOS25 | PULLUP;
NET "CLK_50" TNM_NET = "CLK_50";
TIMESPEC "TS_CLK_50" = PERIOD "CLK_50" 20 ns HIGH 50 %;

# NET D_VIDEO_R(2)        LOC="P51"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VIDEO_R(1)        LOC="P50"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VIDEO_R(0)        LOC="P47"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VIDEO_G(2)        LOC="P40"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VIDEO_G(1)        LOC="P35"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VIDEO_G(0)        LOC="P33"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VIDEO_B(2)        LOC="P23"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VIDEO_B(1)        LOC="P17"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VIDEO_B(0)        LOC="P24"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_HSYNC             LOC="P57"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
# NET D_VSYNC             LOC="P58"  | IOSTANDARD = LVCMOS25 | DRIVE=2 | SLEW=SLOW;
