#UCF for ZX-UNO

NET "CLK_50"          LOC = "P55"  | IOSTANDARD = LVCMOS33 | PERIOD=20ns ;
NET "CLK_50" TNM_NET = "CLK_50" ;
TIMESPEC "TS_CLK_50" = PERIOD "CLK_50" 20 ns HIGH 50 %;

# Audio
NET "AUDIO_OUT"       LOC = "P8"   | IOSTANDARD = LVCMOS33 ;
NET "K7_TAPEOUT"      LOC = "P9"   | IOSTANDARD = LVCMOS33 ;

# Switch
NET "I_RESET"         LOC = "P51"  | IOSTANDARD = LVCMOS33 | PULLDOWN; 

NET "PS2DAT1"         LOC = "P97"   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "PS2CLK1"         LOC = "P98"   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

NET "K7_TAPEIN"       LOC = "P105"  | IOSTANDARD = LVCMOS33; 

NET O_HSYNC           LOC = "P87" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET O_VSYNC           LOC = "P85" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET O_VIDEO_B(2)      LOC = "P81" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET O_VIDEO_B(1)      LOC = "P80" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST; 
NET O_VIDEO_B(0)      LOC = "P79" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET O_VIDEO_G(2)      LOC = "P84" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET O_VIDEO_G(1)      LOC = "P83" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET O_VIDEO_G(0)      LOC = "P82" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET O_VIDEO_R(2)      LOC = "P93" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET O_VIDEO_R(1)      LOC = "P92" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET O_VIDEO_R(0)      LOC = "P88" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET O_NTSC            LOC = "P67" | IOSTANDARD = LVCMOS33;
NET O_PAL             LOC = "P66" | IOSTANDARD = LVCMOS33;
