NET "CLK_50MHZ" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "CLKB_130M"  IOSTANDARD = LVCMOS33 ;

NET "SF_CE_N"        LOC = "W20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "SF_WE_N"        LOC = "AA22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET RESET       LOC = "R13" | PULLDOWN ;
NET PS2_CLK     LOC = "W12" | IOSTANDARD = LVTTL ;
NET PS2_DATA    LOC = "V11" | IOSTANDARD = LVTTL ;

NET VID_R<0>    LOC = "A3" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_R<1>    LOC = "B3" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_R<2>    LOC = "B8" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_R<3>    LOC = "C8" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;

NET VID_G<0>    LOC = "C5" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_G<1>    LOC = "D5" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_G<2>    LOC = "C6" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_G<3>    LOC = "D6" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;

NET VID_B<0>    LOC = "C7" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_B<1>    LOC = "D7" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_B<2>    LOC = "B9" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_B<3>    LOC = "C9" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;


NET VID_HSYNC   LOC = "C11" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
NET VID_VSYNC   LOC = "B11" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;

NET AUDIO_L_O   LOC = "Y10"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET AUDIO_R_O   LOC = "V10" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;


NET "LED_YELLOW_OUT" LOC = "AB15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
NET "LEDS<7>" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
NET "LEDS<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
NET "LEDS<5>" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
NET "LEDS<4>" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
NET "LEDS<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
NET "LEDS<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
NET "LEDS<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
NET "LEDS<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;


#NET DEV_SW     LOC = "P86"  | IOSTANDARD = LVTTL ;# use M0 P86 don not need pullup   # | USE PIN requires pullup   PULLUP ; #P110
NET RS232_RXD  LOC = "E16"  | IOSTANDARD = LVCMOS33 ;
NET RS232_TXD  LOC = "F15"  | IOSTANDARD = LVCMOS33 ;
               

Net "SCLK"  LOC=B4 | IOSTANDARD = LVCMOS33 | PULLUP; # SD PIN 5
Net "MOSI"  LOC=A4 | IOSTANDARD = LVCMOS33 | PULLUP; # SD PIN 2
Net "MISO"  LOC=A5 | IOSTANDARD = LVCMOS33 | PULLUP; # SD PIN 7
Net "CS_N"  LOC=B6 | IOSTANDARD = LVCMOS33 | PULLUP; # SD PIN 1

CONFIG ENABLE_SUSPEND = NO ;


