
NET PS2_CLK        LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET PS2_DATA       LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET VID_R        LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST  ;
NET VID_G        LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST  ;
NET VID_B        LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST  ;
NET VID_HSYNC          LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET VID_VSYNC          LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET RESET          LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN;
NET OSC1        LOC = "C9" | IOSTANDARD = LVCMOS33;
NET DEV_SW          LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;

NET LED        LOC = "D4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET LED5        LOC = "G9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;NET RS232_RXD LOC = "R7"  | IOSTANDARD = LVCMOS33 ;
#NET LED8        LOC = "A8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;NET RS232_TXD LOC = "M14"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET RS232_TXD LOC = "M14" | IOSTANDARD = LVCMOS33  ;
NET RS232_RXD LOC="R7" | IOSTANDARD = LVCMOS33 ;
