cores/Oric/build/COREn.ZX1
cores/Oric/build/ORIC.lso
cores/Oric/build/ORIC.ngc
cores/Oric/build/ORIC.ngr
cores/Oric/build/ORIC_map.xrpt
cores/Oric/build/ORIC_par.xrpt
cores/Oric/build/ORIC_xst.xrpt
cores/Oric/build/_impact.cmd
cores/Oric/build/_impact.log
cores/Oric/build/_ngo/
cores/Oric/build/_xmsgs/
cores/Oric/build/makemy.sh
cores/Oric/build/makemy.sh~
cores/Oric/build/oric.bgn
cores/Oric/build/oric.bit
cores/Oric/build/oric.bld
cores/Oric/build/oric.drc
cores/Oric/build/oric.my.bit
cores/Oric/build/oric.ncd
cores/Oric/build/oric.ngc
cores/Oric/build/oric.ngd
cores/Oric/build/oric.pad
cores/Oric/build/oric.par
cores/Oric/build/oric.pcf
cores/Oric/build/oric.ptwx
cores/Oric/build/oric.syr
cores/Oric/build/oric.twr
cores/Oric/build/oric.twx
cores/Oric/build/oric.unroutes
cores/Oric/build/oric.v4.bit
cores/Oric/build/oric.xpi
cores/Oric/build/oric_bitgen.xwbt
cores/Oric/build/oric_map.map
cores/Oric/build/oric_map.mrp
cores/Oric/build/oric_map.ncd
cores/Oric/build/oric_map.ngm
cores/Oric/build/oric_ngdbuild.xrpt
cores/Oric/build/oric_pad.csv
cores/Oric/build/oric_pad.txt
cores/Oric/build/oric_summary.xml
cores/Oric/build/oric_usage.xml
cores/Oric/build/out
cores/Oric/build/par_usage_statistics.html
cores/Oric/build/usage_statistics_webtalk.html
cores/Oric/build/webtalk.log
cores/Oric/build/xlnx_auto_0_cores/Oric/build/COREn.ZX1
cores/Oric/build/xlnx_auto_0_xdb/
cores/Oric/build/xst/

_xmsgs/
cores/Oric/build/out.my
cores/Oric/source/_impact.cmd
cores/Oric/source/_impact.log

