#UCF para el ZX-UNO
NET "CLOCK_50"        LOC="P55"  | IOSTANDARD = LVCMOS33 | PERIOD=20.0ns;
NET "led"             LOC="P10"  | IOSTANDARD = LVCMOS33;

# Video output
NET "vga_r[2]"        LOC="P93"  | IOSTANDARD = LVCMOS33;
NET "vga_r[1]"        LOC="P92"  | IOSTANDARD = LVCMOS33;
NET "vga_r[0]"        LOC="P88"  | IOSTANDARD = LVCMOS33;
NET "vga_g[2]"        LOC="P84"  | IOSTANDARD = LVCMOS33;
NET "vga_g[1]"        LOC="P83"  | IOSTANDARD = LVCMOS33;
NET "vga_g[0]"        LOC="P82"  | IOSTANDARD = LVCMOS33;
NET "vga_b[2]"        LOC="P81"  | IOSTANDARD = LVCMOS33;
NET "vga_b[1]"        LOC="P80"  | IOSTANDARD = LVCMOS33;
NET "vga_b[0]"        LOC="P79"  | IOSTANDARD = LVCMOS33;
NET "vga_h"           LOC="P87"  | IOSTANDARD = LVCMOS33;
NET "vga_v"           LOC="P85"  | IOSTANDARD = LVCMOS33;
#NET "NTSC"            LOC="P67"  | IOSTANDARD = LVCMOS33;
#NET "PAL"             LOC="P66"  | IOSTANDARD = LVCMOS33;

# Sound input/output
NET "AUDIO_L"         LOC="P8"   | IOSTANDARD = LVCMOS33;
NET "AUDIO_R"         LOC="P9"   | IOSTANDARD = LVCMOS33;
#NET "ear"             LOC="P105" | IOSTANDARD = LVCMOS33;

# Keyboard and mouse
NET "PS2_CLK"         LOC="P98"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PS2_DAT"         LOC="P97"  | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "mouseclk"        LOC="P94"  | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "mousedata"       LOC="P95"  | IOSTANDARD = LVCMOS33 | PULLUP;

# SRAM
NET ram_a(0)          LOC="P115" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(1)          LOC="P116" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(2)          LOC="P117" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(3)          LOC="P119" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(4)          LOC="P120" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(5)          LOC="P123" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(6)          LOC="P126" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(7)          LOC="P131" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(8)          LOC="P127" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(9)          LOC="P124" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(10)         LOC="P118" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(11)         LOC="P121" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(12)         LOC="P133" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(13)         LOC="P132" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(14)         LOC="P137" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(15)         LOC="P140" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(16)         LOC="P139" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(17)         LOC="P141" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_a(18)         LOC="P138" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "sram_addr<19>"   LOC="P111" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<20>"   LOC="P138" | IOSTANDARD = LVCMOS33;

NET ram_d(0)          LOC="P114" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_d(1)          LOC="P112" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_d(2)          LOC="P111" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_d(3)          LOC="P99"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_d(4)          LOC="P100" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_d(5)          LOC="P101" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_d(6)          LOC="P102" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET ram_d(7)          LOC="P104" | IOSTANDARD = LVCMOS33 | SLEW=FAST;

NET ram_WE_n          LOC="P134" | IOSTANDARD = LVCMOS33 | SLEW=FAST;

# SPI Flash
#NET "flash_cs_n"      LOC="P38"  | IOSTANDARD = LVCMOS33;
#NET "flash_clk"       LOC="P70"  | IOSTANDARD = LVCMOS33;
#NET "flash_mosi"      LOC="P64"  | IOSTANDARD = LVCMOS33;
#NET "flash_miso"      LOC="P65"  | IOSTANDARD = LVCMOS33;
#NET "flash_ext1"      LOC="P62"  | IOSTANDARD = LVCMOS33;
#NET "flash_ext2"      LOC="P61"  | IOSTANDARD = LVCMOS33;

# SD/MMC
NET "SPI_CS"          LOC="P59"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "SPI_CLK"         LOC="P75"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "SPI_MOSI"        LOC="P74"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "SPI_MISO"        LOC="P78"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;

# JOYSTICK
NET "P_U"             LOC="P142" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_D"             LOC="P1"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_L"             LOC="P2"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_R"             LOC="P5"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_A"             LOC="P143" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_tr"            LOC="P6"   | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "joyfire3"        LOC="P7"   | IOSTANDARD = LVCMOS33 | PULLUP;


#DEBUG
#NET "UART_RXD" LOC = P12 | IOSTANDARD=LVCMOS33; #ext36  mas exterior
#NET "UART_TXD" LOC = P15 | IOSTANDARD=LVCMOS33; #ext35

#NET "sseg_an[0]" LOC = P11   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[1]" LOC = P16   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[2]" LOC = P58   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[3]" LOC = P51   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[3]" LOC = P44   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[0]" LOC = P40   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[1]" LOC = P21   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[2]" LOC = P33   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[4]" LOC = P47   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[5]" LOC = P24   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[6]" LOC = P29   | IOSTANDARD=LVCMOS33;
#NET "reset" LOC = P56   | IOSTANDARD=LVCMOS33;
#NET "set" LOC = P48   | IOSTANDARD=LVCMOS33;
