# UCF for ZX-UNO
NET clk50             LOC="P55"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW | PERIOD=20ns;
NET LED1              LOC="P11"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;

# Video output                 
NET red(2)            LOC="P81"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET red(1)            LOC="P80"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET red(0)            LOC="P79"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET green(2)          LOC="P84"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET green(1)          LOC="P83"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET green(0)          LOC="P82"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET blue(2)           LOC="P93"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET blue(1)           LOC="P92"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET blue(0)           LOC="P88"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET hsync             LOC="P87"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET vsync             LOC="P85"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET PAL               LOC="P66"  | IOSTANDARD = LVCMOS33;
NET NTSC              LOC="P67"  | IOSTANDARD = LVCMOS33;

# Sound input/output
NET audioL            LOC="P10"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET audioR            LOC="P9"   | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
#NET "ear"             LOC="P94"  | IOSTANDARD = LVCMOS33;

# Keyboard and mouse
NET ps2_clk           LOC="P99"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET ps2_data          LOC="P98"  | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "mouseclk"        LOC="P95"  | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "mousedata"       LOC="P97"  | IOSTANDARD = LVCMOS33 | PULLUP;

# SRAM
NET SRAM_ADDR(0)      LOC="P141" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(1)      LOC="P139" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(2)      LOC="P137" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(3)      LOC="P134" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(4)      LOC="P133" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(5)      LOC="P120" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(6)      LOC="P118" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(7)      LOC="P116" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(8)      LOC="P114" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(9)      LOC="P112" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(10)     LOC="P104" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(11)     LOC="P102" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(12)     LOC="P101" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(13)     LOC="P100" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(14)     LOC="P111" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(15)     LOC="P131" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(16)     LOC="P138" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(17)     LOC="P140" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_ADDR(18)     LOC="P142" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
#NET "sram_addr<19>"   LOC="P105" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<20>"   LOC="P143" | IOSTANDARD = LVCMOS33;

NET SRAM_DATA(0)      LOC="P132" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_DATA(1)      LOC="P127" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_DATA(2)      LOC="P124" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_DATA(3)      LOC="P123" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_DATA(4)      LOC="P115" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_DATA(5)      LOC="P117" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_DATA(6)      LOC="P119" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SRAM_DATA(7)      LOC="P126" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
                           
NET RAMWRn            LOC="P121" | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;

# SPI Flash
#NET "flash_cs_n"      LOC="P38"  | IOSTANDARD = LVCMOS33;
#NET "flash_clk"       LOC="P70"  | IOSTANDARD = LVCMOS33;
#NET "flash_mosi"      LOC="P64"  | IOSTANDARD = LVCMOS33;
#NET "flash_miso"      LOC="P65"  | IOSTANDARD = LVCMOS33;
#NET "flash_ext1"      LOC="P62"  | IOSTANDARD = LVCMOS33;
#NET "flash_ext2"      LOC="P61"  | IOSTANDARD = LVCMOS33;

# SD/MMC
NET SDSS              LOC="P59"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SDCLK             LOC="P75"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SDMOSI            LOC="P74"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SDMISO            LOC="P78"  | IOSTANDARD = LVCMOS33;

# JOYSTICK  
#NET JOYSTICK1(3)      LOC="P1"   | IOSTANDARD = LVCMOS33 | PULLUP;
#NET JOYSTICK1(2)      LOC="P5"   | IOSTANDARD = LVCMOS33 | PULLUP;
#NET JOYSTICK1(1)      LOC="P6"   | IOSTANDARD = LVCMOS33 | PULLUP;
#NET JOYSTICK1(0)      LOC="P7"   | IOSTANDARD = LVCMOS33 | PULLUP;
#NET BTN2              LOC="P2"   | IOSTANDARD = LVCMOS33 | PULLUP;
#NET JOYSTICK1(4)      LOC="P8"   | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "joyfire3"        LOC="P39"  | IOSTANDARD = LVCMOS33 | PULLUP;


# Otros
NET ERST              LOC="P51"  | IOSTANDARD = LVCMOS33;
PIN "relojes_bbc/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

