# UCF for ZX-UNO v3

NET "clk50"                   CLOCK_DEDICATED_ROUTE = FALSE;
PIN "relojes_electron/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE; 
PIN "relojes_electron/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "relojes_electron/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

NET clk50       LOC="P55"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW | PERIOD=20ns; # CLK

NET SDMISO          LOC="P78" | IOSTANDARD=LVCMOS33;

NET SDMOSI          LOC="P74" | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SDCLK           LOC="P75" | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET SDSS            LOC="P59" | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET ERST            LOC="P44" | IOSTANDARD=LVCMOS33;

NET hsync     	    LOC="P87"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET vsync     	    LOC="P85"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET blue(0)   	    LOC="P79"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET blue(1)   	    LOC="P80"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET blue(2)   	    LOC="P81"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET green(0)  	    LOC="P82"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET green(1)  	    LOC="P83"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET green(2)  	    LOC="P84"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET red(0)          LOC="P88"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET red(1)          LOC="P92"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET red(2)          LOC="P93"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET audioL   	    LOC="P8"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET audioR  	    LOC="P9"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET LED1            LOC="P10"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET ps2_data        LOC="P97" | IOSTANDARD=LVCMOS33 | PULLUP;
NET ps2_clk         LOC="P98" | IOSTANDARD=LVCMOS33 | PULLUP;

NET casOut  	    LOC="P12"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET casIn    	    LOC="P105" | IOSTANDARD=LVCMOS33;
 