# UCF ZX-UNO

NET CLK50	       LOC="P55"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW | PERIOD=20.0ns; # CLK

NET ps2_data        LOC="P97" | IOSTANDARD=LVCMOS33 | PULLUP;            
NET ps2_clk         LOC="P98" | IOSTANDARD=LVCMOS33 | PULLUP;             

NET SDMISO          LOC="P78" | IOSTANDARD=LVCMOS33;                       
NET SDMOSI          LOC="P74" | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; 
NET SDCLK           LOC="P75" | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; 
NET SDSS            LOC="P59" | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; 
                  
NET hsync     	    LOC="P87"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET vsync     	    LOC="P85"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; 

NET "green(0)"			LOC="P82"  | IOSTANDARD=LVCMOS33;                                
NET "red(0)"			LOC="P88"  | IOSTANDARD=LVCMOS33;                               
NET "blue(0)"			LOC="P79"  | IOSTANDARD=LVCMOS33;                                

NET "green(1)"			LOC="P83"  | IOSTANDARD=LVCMOS33;                                
NET "red(1)"			LOC="P92"  | IOSTANDARD=LVCMOS33;                                
NET "blue(1)"			LOC="P80"  | IOSTANDARD=LVCMOS33;                                

NET "green(2)"			LOC="P84"  | IOSTANDARD=LVCMOS33;                                
NET "red(2)"			LOC="P93"  | IOSTANDARD=LVCMOS33;                                
NET "blue(2)"			LOC="P81"  | IOSTANDARD=LVCMOS33;       

NET audiol   	    LOC="P8"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET audioR  	    LOC="P9"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; 

NET LED1            LOC="P10"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; 

NET SRAM_ADDR(0)    LOC="P115"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR0
NET SRAM_ADDR(1)    LOC="P116"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR1
NET SRAM_ADDR(2)    LOC="P117"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR2
NET SRAM_ADDR(3)    LOC="P119"  	| IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR3
NET SRAM_ADDR(4)    LOC="P120"	| IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR4
NET SRAM_ADDR(5)    LOC="P123"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR5
NET SRAM_ADDR(6)    LOC="P126"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR6
NET SRAM_ADDR(7)    LOC="P131"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR7
NET SRAM_ADDR(8)    LOC="P127" 	| IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR8
NET SRAM_ADDR(9)    LOC="P124"	| IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR9
NET SRAM_ADDR(10)   LOC="P118" 	| IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR10
NET SRAM_ADDR(11)   LOC="P121" 	| IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR11
NET SRAM_ADDR(12)   LOC="P133"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR12
NET SRAM_ADDR(13)   LOC="P132"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR13
NET SRAM_ADDR(14)   LOC="P137"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR14
NET SRAM_ADDR(15)   LOC="P140"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR15
NET SRAM_ADDR(16)   LOC="P139"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR16
NET SRAM_ADDR(17)   LOC="P141"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR17
NET SRAM_ADDR(18)   LOC="P138"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_ADDR18

NET SRAM_DATA(0)    LOC="P114"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_DATA0
NET SRAM_DATA(1)    LOC="P112"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_DATA1
NET SRAM_DATA(2)    LOC="P111"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_DATA2
NET SRAM_DATA(3)    LOC="P99"   | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_DATA3
NET SRAM_DATA(4)    LOC="P100"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_DATA4
NET SRAM_DATA(5)    LOC="P101"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_DATA5
NET SRAM_DATA(6)    LOC="P102"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_DATA6
NET SRAM_DATA(7)    LOC="P104"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_DATA7

NET RAMWRn          LOC="P134"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW; # SRAM_WE

NET JOYSTICK1<0>    LOC="P142" 	| IOSTANDARD=LVCMOS33 | PULLUP;                       
NET JOYSTICK1<1>    LOC="P1" 		| IOSTANDARD=LVCMOS33 | PULLUP;                       
NET JOYSTICK1<2>    LOC="P2" 		| IOSTANDARD=LVCMOS33 | PULLUP;                       
NET JOYSTICK1<3>    LOC="P5"		| IOSTANDARD=LVCMOS33 | PULLUP;                       
NET JOYSTICK1<4>    LOC="P7" 		| IOSTANDARD=LVCMOS33;                       
NET JOYSTICK1<5>    LOC="P143" 	| IOSTANDARD=LVCMOS33 | PULLUP;                       
NET JOYSTICK1<6>    LOC="P32" 	| IOSTANDARD=LVCMOS33 | PULLUP;                       
NET JOYSTICK1<7>    LOC="P6" 		| IOSTANDARD=LVCMOS33;                       

NET ps2_mouse_clk   LOC="P94"  | IOSTANDARD=LVCMOS33 | PULLUP;             
NET ps2_mouse_data  LOC="P95"  | IOSTANDARD=LVCMOS33 | PULLUP;             

NET ERST            LOC="P50" | IOSTANDARD=LVCMOS33; # Reset externo                   
NET charSet         LOC="P33" | IOSTANDARD=LVCMOS33; # Charset switch externo
