# Clocks & debug
NET "CLOCK_50"        LOC="P55"  | IOSTANDARD = LVCMOS33 | PERIOD=20.0ns;
NET "LED"             LOC="P2"   | IOSTANDARD = LVCMOS33;

# Video output
NET "VGA_R[2]"        LOC="P97"  | IOSTANDARD = LVCMOS33;
NET "VGA_R[1]"        LOC="P95"  | IOSTANDARD = LVCMOS33;
NET "VGA_R[0]"        LOC="P94"  | IOSTANDARD = LVCMOS33;
NET "VGA_G[2]"        LOC="P88"  | IOSTANDARD = LVCMOS33;
NET "VGA_G[1]"        LOC="P87"  | IOSTANDARD = LVCMOS33;
NET "VGA_G[0]"        LOC="P85"  | IOSTANDARD = LVCMOS33;
NET "VGA_B[2]"        LOC="P84"  | IOSTANDARD = LVCMOS33;
NET "VGA_B[1]"        LOC="P83"  | IOSTANDARD = LVCMOS33;
NET "VGA_B[0]"        LOC="P82"  | IOSTANDARD = LVCMOS33;
NET "VGA_HS"          LOC="P93"  | IOSTANDARD = LVCMOS33;
NET "VGA_VS"          LOC="P92"  | IOSTANDARD = LVCMOS33;
NET "NTSC"            LOC="P51"  | IOSTANDARD = LVCMOS33;
NET "PAL"             LOC="P50"  | IOSTANDARD = LVCMOS33;

# Sound input/output
NET "AUDIO_L"         LOC="P98"  | IOSTANDARD = LVCMOS33;
NET "AUDIO_R"         LOC="P99"  | IOSTANDARD = LVCMOS33;
#NET "ear"             LOC="P1"   | IOSTANDARD = LVCMOS33;

# Keyboard and mouse
NET "PS2_CLK"         LOC="P143" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PS2_DAT"         LOC="P142" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "mouseclk"        LOC="P57"  | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "mousedata"       LOC="P56"  | IOSTANDARD = LVCMOS33 | PULLUP;

# SRAM
#NET "sram_addr<0>"    LOC="P115" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<1>"    LOC="P116" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<2>"    LOC="P117" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<3>"    LOC="P119" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<4>"    LOC="P120" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<5>"    LOC="P123" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<6>"    LOC="P126" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<7>"    LOC="P131" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<8>"    LOC="P127" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<9>"    LOC="P124" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<10>"   LOC="P118" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<11>"   LOC="P121" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<12>"   LOC="P133" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<13>"   LOC="P132" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<14>"   LOC="P137" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<15>"   LOC="P140" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<16>"   LOC="P139" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<17>"   LOC="P141" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<18>"   LOC="P138" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<19>"   LOC="P111" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<20>"   LOC="P138" | IOSTANDARD = LVCMOS33;

#NET "sram_data<0>"    LOC="P114" | IOSTANDARD = LVCMOS33;
#NET "sram_data<1>"    LOC="P112" | IOSTANDARD = LVCMOS33;
#NET "sram_data<2>"    LOC="P111" | IOSTANDARD = LVCMOS33;
#NET "sram_data<3>"    LOC="P105" | IOSTANDARD = LVCMOS33;
#NET "sram_data<4>"    LOC="P104" | IOSTANDARD = LVCMOS33;
#NET "sram_data<5>"    LOC="P102" | IOSTANDARD = LVCMOS33;
#NET "sram_data<6>"    LOC="P101" | IOSTANDARD = LVCMOS33;
#NET "sram_data<7>"    LOC="P100" | IOSTANDARD = LVCMOS33;
                            
NET "SRAM_nWE"        LOC="P134" | IOSTANDARD = LVCMOS33 | SLEW = FAST;

# SPI Flash
#NET "flash_cs_n"      LOC="P38"  | IOSTANDARD = LVCMOS33;
#NET "flash_clk"       LOC="P70"  | IOSTANDARD = LVCMOS33;
#NET "flash_mosi"      LOC="P64"  | IOSTANDARD = LVCMOS33;
#NET "flash_miso"      LOC="P65"  | IOSTANDARD = LVCMOS33;
#NET "flash_ext1"      LOC="P62"  | IOSTANDARD = LVCMOS33;
#NET "flash_ext2"      LOC="P61"  | IOSTANDARD = LVCMOS33;

# SD/MMC
NET "SPI_CS"          LOC="P78"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "SPI_CLK"         LOC="P80"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "SPI_MOSI"        LOC="P79"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "SPI_MISO"        LOC="P81"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

# JOYSTICK
NET "P_U"             LOC="P74"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_D"             LOC="P67"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_L"             LOC="P59"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_R"             LOC="P58"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_A"             LOC="P75"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "P_tr"            LOC="P8"  | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "joyfire3"        LOC="P39"  | IOSTANDARD = LVCMOS33 | PULLUP;


# Otros


