

NET "VGA_B[0]" LOC = P79;
NET "VGA_B[0]" IOSTANDARD = LVCMOS33;
NET "VGA_B[1]" LOC = P80;
NET "VGA_B[1]" IOSTANDARD = LVCMOS33;
NET "VGA_B[2]" LOC = P81;
NET "VGA_B[2]" IOSTANDARD = LVCMOS33;
NET "VGA_G[0]" LOC = P82;
NET "VGA_G[0]" IOSTANDARD = LVCMOS33;
NET "VGA_G[1]" LOC = P83;
NET "VGA_G[1]" IOSTANDARD = LVCMOS33;
NET "VGA_G[2]" LOC = P84;
NET "VGA_G[2]" IOSTANDARD = LVCMOS33;
NET "VGA_R[0]" LOC = P88;
NET "VGA_R[0]" IOSTANDARD = LVCMOS33;
NET "VGA_R[1]" LOC = P92;
NET "VGA_R[1]" IOSTANDARD = LVCMOS33;
NET "VGA_R[2]" LOC = P93;
NET "VGA_R[2]" IOSTANDARD = LVCMOS33;
NET "CLOCK_50" LOC = P55;
NET "CLOCK_50" IOSTANDARD = LVCMOS33;
NET "SRAM_nWE" LOC = P134;
NET "SRAM_nWE" IOSTANDARD = LVCMOS33;
NET "SRAM_nWE" SLEW = FAST;
NET "VGA_VS" LOC = P85;
NET "VGA_VS" IOSTANDARD = LVCMOS33;
NET "VGA_HS" LOC = P87;
NET "VGA_HS" IOSTANDARD = LVCMOS33;
NET "LED" LOC = P10;
NET "LED" IOSTANDARD = LVCMOS33;
NET "AUDIO_L" LOC = P8;
NET "AUDIO_L" IOSTANDARD = LVCMOS33;
NET "AUDIO_R" LOC = P9;
NET "AUDIO_R" IOSTANDARD = LVCMOS33;


NET "P_A" LOC = P6;
NET "P_A" IOSTANDARD = LVCMOS33;
NET "P_A" PULLUP;
NET "P_D" LOC = P1;
NET "P_D" IOSTANDARD = LVCMOS33;
NET "P_D" PULLUP;
NET "P_L" LOC = P2;
NET "P_L" IOSTANDARD = LVCMOS33;
NET "P_L" PULLUP;
NET "P_R" LOC = P5;
NET "P_R" IOSTANDARD = LVCMOS33;
NET "P_R" PULLUP;
NET "P_U" LOC = P142;
NET "P_U" IOSTANDARD = LVCMOS33;
NET "P_U" PULLUP;


NET "PS2_CLK" LOC = P98;
NET "PS2_CLK" IOSTANDARD = LVCMOS33;
NET "PS2_CLK" PULLUP;
NET "PS2_DAT" LOC = P97;
NET "PS2_DAT" IOSTANDARD = LVCMOS33;
NET "PS2_DAT" PULLUP;


NET "SPI_MOSI" LOC = P74;
NET "SPI_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI_MOSI" DRIVE = 8;
NET "SPI_MOSI" SLEW = FAST;
NET "SPI_MISO" LOC = P78;
NET "SPI_MISO" IOSTANDARD = LVCMOS33;
NET "SPI_MISO" DRIVE = 8;
NET "SPI_MISO" SLEW = FAST;
NET "SPI_CLK" LOC = P75;
NET "SPI_CLK" IOSTANDARD = LVCMOS33;
NET "SPI_CLK" DRIVE = 8;
NET "SPI_CLK" SLEW = FAST;
NET "SPI_CS" LOC = P59;
NET "SPI_CS" IOSTANDARD = LVCMOS33;
NET "SPI_CS" DRIVE = 8;
NET "SPI_CS" SLEW = FAST;


NET "PAL" LOC = P66;
NET "PAL" IOSTANDARD = LVCMOS33;
NET "NTSC" LOC = P67;
NET "NTSC" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "P_tr" LOC = P143;

# PlanAhead Generated IO constraints 

NET "P_tr" IOSTANDARD = LVCMOS33;
NET "P_tr" PULLUP;
