//! **************************************************************************
// Written by: Map M.53d on Tue Dec 09 13:36:01 2014
//! **************************************************************************

SCHEMATIC START;
COMP "testled" LOCATE = SITE "P10" LEVEL 1;
COMP "flash_cs_n" LOCATE = SITE "P38" LEVEL 1;
COMP "b<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "b<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "b<2>" LOCATE = SITE "P81" LEVEL 1;
COMP "flash_miso" LOCATE = SITE "P65" LEVEL 1;
COMP "flash_mosi" LOCATE = SITE "P64" LEVEL 1;
COMP "g<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "g<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "g<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "sram_addr<0>" LOCATE = SITE "P115" LEVEL 1;
COMP "sram_addr<1>" LOCATE = SITE "P116" LEVEL 1;
COMP "sram_addr<2>" LOCATE = SITE "P117" LEVEL 1;
COMP "sram_addr<3>" LOCATE = SITE "P119" LEVEL 1;
COMP "sram_addr<4>" LOCATE = SITE "P120" LEVEL 1;
COMP "sram_addr<5>" LOCATE = SITE "P123" LEVEL 1;
COMP "sram_addr<6>" LOCATE = SITE "P126" LEVEL 1;
COMP "sram_addr<7>" LOCATE = SITE "P131" LEVEL 1;
COMP "sram_addr<8>" LOCATE = SITE "P127" LEVEL 1;
COMP "sram_addr<9>" LOCATE = SITE "P124" LEVEL 1;
COMP "csync" LOCATE = SITE "P87" LEVEL 1;
COMP "r<0>" LOCATE = SITE "P88" LEVEL 1;
COMP "r<1>" LOCATE = SITE "P92" LEVEL 1;
COMP "r<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "sram_we_n" LOCATE = SITE "P134" LEVEL 1;
COMP "clkps2" LOCATE = SITE "P98" LEVEL 1;
COMP "modontsc" LOCATE = SITE "P67" LEVEL 1;
COMP "sram_data<0>" LOCATE = SITE "P114" LEVEL 1;
COMP "sram_data<1>" LOCATE = SITE "P112" LEVEL 1;
COMP "sram_data<2>" LOCATE = SITE "P111" LEVEL 1;
COMP "sram_data<3>" LOCATE = SITE "P99" LEVEL 1;
COMP "sram_data<4>" LOCATE = SITE "P100" LEVEL 1;
COMP "sram_data<5>" LOCATE = SITE "P101" LEVEL 1;
COMP "sram_data<6>" LOCATE = SITE "P102" LEVEL 1;
COMP "sram_data<7>" LOCATE = SITE "P104" LEVEL 1;
COMP "flash_clk" LOCATE = SITE "P70" LEVEL 1;
COMP "sd_cs_n" LOCATE = SITE "P59" LEVEL 1;
COMP "sram_addr<10>" LOCATE = SITE "P118" LEVEL 1;
COMP "sram_addr<11>" LOCATE = SITE "P121" LEVEL 1;
COMP "sram_addr<12>" LOCATE = SITE "P133" LEVEL 1;
COMP "sram_addr<13>" LOCATE = SITE "P132" LEVEL 1;
COMP "sram_addr<14>" LOCATE = SITE "P137" LEVEL 1;
COMP "sram_addr<15>" LOCATE = SITE "P140" LEVEL 1;
COMP "sram_addr<16>" LOCATE = SITE "P139" LEVEL 1;
COMP "sram_addr<17>" LOCATE = SITE "P141" LEVEL 1;
COMP "sram_addr<18>" LOCATE = SITE "P138" LEVEL 1;
COMP "sd_miso" LOCATE = SITE "P78" LEVEL 1;
COMP "sd_mosi" LOCATE = SITE "P74" LEVEL 1;
COMP "modopal" LOCATE = SITE "P66" LEVEL 1;
COMP "audio_out_right" LOCATE = SITE "P9" LEVEL 1;
COMP "sd_clk" LOCATE = SITE "P75" LEVEL 1;
COMP "ear" LOCATE = SITE "P105" LEVEL 1;
COMP "audio_out_left" LOCATE = SITE "P8" LEVEL 1;
COMP "dataps2" LOCATE = SITE "P97" LEVEL 1;
COMP "clk50mhz" LOCATE = SITE "P55" LEVEL 1;
SCHEMATIC END;

