#UCF for ZX-UNO

NET I_CLK_REF       TNM_NET = clk_ref_grp;
TIMESPEC TS01 = PERIOD : clk_ref_grp : 20.00 : PRIORITY 1;   # 50.00 MHz

NET I_PS2_CLK               LOC = "P98" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; 
NET I_PS2_DATA              LOC = "P97" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; 

NET O_HSYNC                 LOC = "P87" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET O_VSYNC                 LOC = "P85" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 

NET O_VIDEO_B(2)            LOC = "P81" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_B(1)            LOC = "P80" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_B(0)            LOC = "P79" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 

NET O_VIDEO_G(2)            LOC = "P84" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_G(1)            LOC = "P83" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_G(0)            LOC = "P82" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 

NET O_VIDEO_R(2)            LOC = "P93" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_R(1)            LOC = "P92" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_R(0)            LOC = "P88" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;


NET I_RESET                 LOC = "P51" | IOSTANDARD = LVCMOS33;
NET I_CLK_REF               LOC = "P55" | IOSTANDARD = LVCMOS33;

NET O_AUDIO_L               LOC = "P8"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET O_AUDIO_R               LOC = "P9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;


NET O_NTSC                  LOC = "P67" | IOSTANDARD = LVCMOS33;
NET O_PAL                   LOC = "P66" | IOSTANDARD = LVCMOS33;
