NET "CLK"    LOC="P3"  | IOSTANDARD = LVCMOS33 | PERIOD = 353ns  ; # 6847 pin 33
NET "DD<7>"  LOC="P11" | IOSTANDARD = LVCMOS33 ; # 6847 pin 40
NET "DD<6>"  LOC="P95" | IOSTANDARD = LVCMOS33 ; # 6847 pin 2
NET "DD<5>"  LOC="P33" | IOSTANDARD = LVCMOS33 ; # 6847 pin 8
NET "DD<4>"  LOC="P23" | IOSTANDARD = LVCMOS33 ; # 6847 pin 7
NET "DD<3>"  LOC="P22" | IOSTANDARD = LVCMOS33 ; # 6847 pin 6
NET "DD<2>"  LOC="P94" | IOSTANDARD = LVCMOS33 ; # 6847 pin 5
NET "DD<1>"  LOC="P17" | IOSTANDARD = LVCMOS33 ; # 6847 pin 4
NET "DD<0>"  LOC="P18" | IOSTANDARD = LVCMOS33 ; # 6847 pin 3
NET "DA<12>" LOC="P67" | IOSTANDARD = LVCMOS33 ; # 6847 pin 21
NET "DA<11>" LOC="P61" | IOSTANDARD = LVCMOS33 ; # 6847 pin 20
NET "DA<10>" LOC="P60" | IOSTANDARD = LVCMOS33 ; # 6847 pin 19
NET "DA<9>"  LOC="P58" | IOSTANDARD = LVCMOS33 ; # 6847 pin 18
NET "DA<8>"  LOC="P54" | IOSTANDARD = LVCMOS33 ; # 6847 pin 16
NET "DA<7>"  LOC="P53" | IOSTANDARD = LVCMOS33 ; # 6847 pin 15
NET "DA<6>"  LOC="P35" | IOSTANDARD = LVCMOS33 ; # 6847 pin 14
NET "DA<5>"  LOC="P36" | IOSTANDARD = LVCMOS33 ; # 6847 pin 13
NET "DA<4>"  LOC="P84" | IOSTANDARD = LVCMOS33 ; # 6847 pin 26
NET "DA<3>"  LOC="P86" | IOSTANDARD = LVCMOS33 ; # 6847 pin 25
NET "DA<2>"  LOC="P71" | IOSTANDARD = LVCMOS33 ; # 6847 pin 24
NET "DA<1>"  LOC="P70" | IOSTANDARD = LVCMOS33 ; # 6847 pin 23
NET "DA<0>"  LOC="P68" | IOSTANDARD = LVCMOS33 ; # 6847 pin 22
NET "CHB"    LOC="P32" | IOSTANDARD = LVCMOS33 ; # 6847 pin 9
NET "OB"     LOC="P34" | IOSTANDARD = LVCMOS33 ; # 6847 pin 10
NET "OA"     LOC="P40" | IOSTANDARD = LVCMOS33 ; # 6847 pin 11
NET "nMS"    LOC="P41" | IOSTANDARD = LVCMOS33 ; # 6847 pin 12
NET "CSS"    LOC="P10" | IOSTANDARD = LVCMOS33 ; # 6847 pin 39
NET "nHS"    LOC="P9"  | IOSTANDARD = LVCMOS33 ; # 6847 pin 38
NET "nFS"    LOC="P90" | IOSTANDARD = LVCMOS33 ; # 6847 pin 37
NET "nWR"    LOC="P5"  | IOSTANDARD = LVCMOS33 ; # 6847 pin 36
NET "INV"    LOC="P98" | IOSTANDARD = LVCMOS33 ; # 6847 pin 32
NET "INTEXT" LOC="P92" | IOSTANDARD = LVCMOS33 ; # 6847 pin 31
NET "AS"     LOC="P2"  | IOSTANDARD = LVCMOS33 ; # 6847 pin 34
NET "AG"     LOC="P4"  | IOSTANDARD = LVCMOS33 ; # 6847 pin 35
NET "GM<2>"  LOC="P83" | IOSTANDARD = LVCMOS33 ; # 6847 pin 27
NET "GM<1>"  LOC="P79" | IOSTANDARD = LVCMOS33 ; # 6847 pin 29
NET "GM<0>"  LOC="P85" | IOSTANDARD = LVCMOS33 ; # 6847 pin 30
NET "Y"      LOC="P78" | IOSTANDARD = LVCMOS33 ; # 6847 pin 28

NET "VSYNC"  LOC="P48" | IOSTANDARD = LVCMOS33 ; # connector pin E2 
NET "HSYNC"  LOC="P49" | IOSTANDARD = LVCMOS33 ; # connector pin E3
NET "R<0>"   LOC="P27" | IOSTANDARD = LVCMOS33 ; # connector pin E4
NET "G<1>"   LOC="P44" | IOSTANDARD = LVCMOS33 ; # connector pin E5
NET "G<0>"   LOC="P50" | IOSTANDARD = LVCMOS33 ; # connector pin E6
NET "B<0>"   LOC="P42" | IOSTANDARD = LVCMOS33 ; # connector pin E7
NET "AUDIO"   LOC="P99" | IOSTANDARD = LVCMOS33 ; # connector pin E8

NET "clock49"  LOC="P89" | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE | PERIOD = 20.35ns  ; # 49.152 MHz Oscillator
PIN "Inst_DCM0/DCM_INST.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;
   
NET "nRST"   LOC="P12" | IOSTANDARD = LVCMOS33 ;

NET "nBXXX" LOC="P91" | IOSTANDARD = LVCMOS33 ;

NET "nPL4" LOC="P66" | IOSTANDARD = LVCMOS33 ;

NET "nSIDD" LOC="P65" | IOSTANDARD = LVCMOS33 ;

NET "PS2_CLK" LOC="P62" | IOSTANDARD = LVCMOS33 ;
NET "PS2_DATA" LOC="P63" | IOSTANDARD = LVCMOS33 ;

NET "uart_TxD" LOC="P26" | IOSTANDARD = LVCMOS33 ;
NET "uart_RxD" LOC="P15" | IOSTANDARD = LVCMOS33 ;

