# UCF for ZX-UNO
NET CLOCK50           LOC="P55"  | IOSTANDARD = LVCMOS33 | PERIOD=20.0ns;
NET LED               LOC="P2"   | IOSTANDARD = LVCMOS33;

# Video output  
NET VGA_R(2)          LOC="P97"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_R(1)          LOC="P95"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_R(0)          LOC="P94"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_G(2)          LOC="P88"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_G(1)          LOC="P87"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_G(0)          LOC="P85"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_B(2)          LOC="P84"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_B(1)          LOC="P83"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_B(0)          LOC="P82"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_HS            LOC="P93"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VGA_VS            LOC="P92"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
#NET "stdn"            LOC="P51"  | IOSTANDARD = LVCMOS33;
#NET "stdnb"           LOC="P50"  | IOSTANDARD = LVCMOS33;
                           
# Sound input/output       
NET O_AUDIO_L         LOC="P98"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET O_AUDIO_R         LOC="P99"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
#NET "ear"             LOC="P1"   | IOSTANDARD = LVCMOS33;

# Keyboard and mouse
NET PS2_CLK           LOC="P143" | IOSTANDARD = LVCMOS33;
NET PS2_DAT           LOC="P142" | IOSTANDARD = LVCMOS33;
#NET "mouseclk"        LOC="P57"  | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "mousedata"       LOC="P56"  | IOSTANDARD = LVCMOS33 | PULLUP;

# SRAM
NET SRAM_ADDR<0>      LOC="P115" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<1>      LOC="P116" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<2>      LOC="P117" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<3>      LOC="P119" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<4>      LOC="P120" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<5>      LOC="P123" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<6>      LOC="P126" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<7>      LOC="P131" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<8>      LOC="P127" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<9>      LOC="P124" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<10>     LOC="P118" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<11>     LOC="P121" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<12>     LOC="P133" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<13>     LOC="P132" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<14>     LOC="P137" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<15>     LOC="P140" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<16>     LOC="P139" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<17>     LOC="P141" | IOSTANDARD = LVCMOS33;
NET SRAM_ADDR<18>     LOC="P138" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<19>"   LOC="P111" | IOSTANDARD = LVCMOS33;
#NET "sram_addr<20>"   LOC="P138" | IOSTANDARD = LVCMOS33;

NET SRAM_DQ<0>        LOC="P114" | IOSTANDARD = LVCMOS33;
NET SRAM_DQ<1>        LOC="P112" | IOSTANDARD = LVCMOS33;
NET SRAM_DQ<2>        LOC="P111" | IOSTANDARD = LVCMOS33;
NET SRAM_DQ<3>        LOC="P105" | IOSTANDARD = LVCMOS33;
NET SRAM_DQ<4>        LOC="P104" | IOSTANDARD = LVCMOS33;
NET SRAM_DQ<5>        LOC="P102" | IOSTANDARD = LVCMOS33;
NET SRAM_DQ<6>        LOC="P101" | IOSTANDARD = LVCMOS33;
NET SRAM_DQ<7>        LOC="P100" | IOSTANDARD = LVCMOS33;

NET SRAM_WE_N         LOC="P134" | IOSTANDARD = LVCMOS33;

# SPI Flash
#NET "flash_cs_n"      LOC="P38"  | IOSTANDARD = LVCMOS33;
#NET "flash_clk"       LOC="P70"  | IOSTANDARD = LVCMOS33;
#NET "flash_mosi"      LOC="P64"  | IOSTANDARD = LVCMOS33;
#NET "flash_miso"      LOC="P65"  | IOSTANDARD = LVCMOS33;
#NET "flash_ext1"      LOC="P62"  | IOSTANDARD = LVCMOS33;
#NET "flash_ext2"      LOC="P61"  | IOSTANDARD = LVCMOS33;

# SD/MMC
NET SD_DAT3           LOC="P78"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET SD_CLK            LOC="P80"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET SD_CMD            LOC="P79"  | IOSTANDARD = LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET SD_DAT            LOC="P81"  | IOSTANDARD = LVCMOS33;

# JOYSTICK
NET JOYSTICK1(3)      LOC="P74"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET JOYSTICK1(2)      LOC="P67"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET JOYSTICK1(1)      LOC="P59"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET JOYSTICK1(0)      LOC="P58"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET BTN2              LOC="P75"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET JOYSTICK1(4)      LOC="P8"   | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "joyfire3"        LOC="P39"  | IOSTANDARD = LVCMOS33 | PULLUP;


# Otros
