*.bak
greybox_tmp
/DOCs/Coleco_s700a/src/tb_vdp18
/ROMs/multcart/*.ihx
/ROMs/multcart/*.lk
/ROMs/multcart/*.map
/ROMs/multcart/*.noi
/ROMs/multcart/obj
/ROMs/loader/obj
/ROMs/loader/*.bin
/ROMs/loader/*.ihx
/ROMs/loader/*.lk
/ROMs/loader/*.map
/ROMs/loader/*.noi
/ROMs/bootrom.zip
/src/ram/pll1.qip
/src/syn-wxeda/*.cmp
/src/syn-de1/*.cmp
/src/rom/*.cmp
/src/peripheral/pll1.qip
/src/peripheral/genesispad/tb/transcript
/src/peripheral/genesispad/tb/*.wlf
/src/peripheral/genesispad/tb/work
/src/pll1.qip
/src/tb_clocks/transcript
/src/tb_clocks/vsim.wlf
/src/tb_clocks/work
/synth/DE1/db
/synth/DE1/incremental_db
/synth/DE1/output_files
/synth/DE1/simulation/modelsim
/synth/DE1/*.qws
/synth/DE1/*.qip
/synth/DE1/*.rpt
/synth/DE2/db
/synth/DE2/incremental_db
/synth/DE2/output_files
/synth/DE2/simulation/modelsim
/synth/DE2/*.qws
/synth/DE2/*.qip
/synth/wxeda/db
/synth/wxeda/incremental_db
/synth/wxeda/output_files
/synth/wxeda/simulation/modelsim
/synth/wxeda/*.qws
/synth/wxeda/*.qip
/synth/wxeda/PLLJ_PLLSPE_INFO.txt
/synth/prot1/db
/synth/prot1/incremental_db
/synth/prot1/output_files
/synth/prot1/simulation/modelsim
/synth/prot1/*.qws
/synth/prot1/*.qip
/synth/prot2/db
/synth/prot2/incremental_db
/synth/prot2/output_files
/synth/prot2/simulation/modelsim
/synth/prot2/*.qws
/synth/prot2/*.qip
/synth/multicore/pll1.qip
/synth/multicore/*.qws
/synth/multicore/db
/synth/multicore/incremental_db
/synth/multicore/output_files
/synth/multicore/PLLJ_PLLSPE_INFO.txt
/synth/zxuno/*.cmd
/synth/zxuno/*.iaf
/synth/zxuno/*.html
/synth/zxuno/iseconfig
/synth/zxuno/*.xml
/synth/zxuno/*.gise
/synth/zxuno/*.bld
/synth/zxuno/*.cmd_log
/synth/zxuno/*.lso
/synth/zxuno/*.ncd
/synth/zxuno/*.ngc
/synth/zxuno/*.ngd
/synth/zxuno/*.ngr
/synth/zxuno/*.pad
/synth/zxuno/*.par
/synth/zxuno/*.pcf
/synth/zxuno/*.prj
/synth/zxuno/*.ptwx
/synth/zxuno/*.stx
/synth/zxuno/*.syr
/synth/zxuno/*.twr
/synth/zxuno/*.twx
/synth/zxuno/*.unroutes
/synth/zxuno/*.xpi
/synth/zxuno/*.xst
/synth/zxuno/*.map
/synth/zxuno/*.mrp
/synth/zxuno/*.ngm
/synth/zxuno/*.xrpt
/synth/zxuno/*.csv
/synth/zxuno/*.txt
/synth/zxuno/*.log
/synth/zxuno/*.bgn
/synth/zxuno/*.bit
/synth/zxuno/*.drc
/synth/zxuno/*.ut
/synth/zxuno/*.xwbt
/synth/zxuno/_xmsgs
/synth/zxuno/_ngo
/synth/zxuno/xst/work
/synth/zxuno/xlnx_auto_0_xdb
/synth/zxuno/ipcore_dir/tmp
/synth/zxuno/ipcore_dir/pll1
/synth/zxuno/ipcore_dir/*.asy
/synth/zxuno/ipcore_dir/*.gise
/synth/zxuno/ipcore_dir/*.vho
/synth/zxuno/ipcore_dir/*.xdc
/synth/zxuno/ipcore_dir/*.txt
/synth/zxuno/ipcore_dir/*.tcl
/synth/zxuno/ipcore_dir/*.log
/synth/zxuno/ipcore_dir/*.sym
/synth/zxuno/ipcore_dir/_xmsgs
/synth/zxuno/ipcore_dir/*.cgc
/synth/zxuno/ipcore_dir/*.ncf
/synth/zxuno_cart/*.cmd
/synth/zxuno_cart/*.iaf
/synth/zxuno_cart/*.html
/synth/zxuno_cart/iseconfig
/synth/zxuno_cart/*.xml
/synth/zxuno_cart/*.gise
/synth/zxuno_cart/*.bld
/synth/zxuno_cart/*.cmd_log
/synth/zxuno_cart/*.lso
/synth/zxuno_cart/*.ncd
/synth/zxuno_cart/*.ngc
/synth/zxuno_cart/*.ngd
/synth/zxuno_cart/*.ngr
/synth/zxuno_cart/*.pad
/synth/zxuno_cart/*.par
/synth/zxuno_cart/*.pcf
/synth/zxuno_cart/*.prj
/synth/zxuno_cart/*.ptwx
/synth/zxuno_cart/*.stx
/synth/zxuno_cart/*.syr
/synth/zxuno_cart/*.twr
/synth/zxuno_cart/*.twx
/synth/zxuno_cart/*.unroutes
/synth/zxuno_cart/*.xpi
/synth/zxuno_cart/*.xst
/synth/zxuno_cart/*.map
/synth/zxuno_cart/*.mrp
/synth/zxuno_cart/*.ngm
/synth/zxuno_cart/*.xrpt
/synth/zxuno_cart/*.csv
/synth/zxuno_cart/*.txt
/synth/zxuno_cart/*.log
/synth/zxuno_cart/*.bgn
/synth/zxuno_cart/*.bit
/synth/zxuno_cart/*.drc
/synth/zxuno_cart/*.ut
/synth/zxuno_cart/*.xwbt
/synth/zxuno_cart/_xmsgs
/synth/zxuno_cart/_ngo
/synth/zxuno_cart/xst/work
/synth/zxuno_cart/xlnx_auto_0_xdb
/synth/zxuno_cart/ipcore_dir/tmp
/synth/zxuno_cart/ipcore_dir/pll1
/synth/zxuno_cart/ipcore_dir/*.asy
/synth/zxuno_cart/ipcore_dir/*.gise
/synth/zxuno_cart/ipcore_dir/*.vho
/synth/zxuno_cart/ipcore_dir/*.xdc
/synth/zxuno_cart/ipcore_dir/*.txt
/synth/zxuno_cart/ipcore_dir/*.tcl
/synth/zxuno_cart/ipcore_dir/*.log
/synth/zxuno_cart/ipcore_dir/*.sym
/synth/zxuno_cart/ipcore_dir/_xmsgs
/synth/zxuno_cart/ipcore_dir/*.cgc
/synth/zxuno_cart/ipcore_dir/*.ncf
/synth/zxuno_vga2m/*.cmd
/synth/zxuno_vga2m/*.iaf
/synth/zxuno_vga2m/*.html
/synth/zxuno_vga2m/ipcore_dir/pll1
/synth/zxuno_vga2m/_xmsgs
/synth/zxuno_vga2m/_ngo
/synth/zxuno_vga2m/iseconfig
/synth/zxuno_vga2m/ipcore_dir/tmp
/synth/zxuno_vga2m/xst/work
/synth/zxuno_vga2m/ipcore_dir/*.asy
/synth/zxuno_vga2m/ipcore_dir/*.gise
/synth/zxuno_vga2m/ipcore_dir/*.vho
/synth/zxuno_vga2m/ipcore_dir/*.xdc
/synth/zxuno_vga2m/ipcore_dir/*.txt
/synth/zxuno_vga2m/ipcore_dir/*.tcl
/synth/zxuno_vga2m/ipcore_dir/*.log
/synth/zxuno_vga2m/ipcore_dir/*.sym
/synth/zxuno_vga2m/xlnx_auto_0_xdb
/synth/zxuno_vga2m/*.xml
/synth/zxuno_vga2m/*.gise
/synth/zxuno_vga2m/*.bld
/synth/zxuno_vga2m/*.cmd_log
/synth/zxuno_vga2m/*.lso
/synth/zxuno_vga2m/*.ncd
/synth/zxuno_vga2m/*.ngc
/synth/zxuno_vga2m/*.ngd
/synth/zxuno_vga2m/*.ngr
/synth/zxuno_vga2m/*.pad
/synth/zxuno_vga2m/*.par
/synth/zxuno_vga2m/*.pcf
/synth/zxuno_vga2m/*.prj
/synth/zxuno_vga2m/*.ptwx
/synth/zxuno_vga2m/*.stx
/synth/zxuno_vga2m/*.syr
/synth/zxuno_vga2m/*.twr
/synth/zxuno_vga2m/*.twx
/synth/zxuno_vga2m/*.unroutes
/synth/zxuno_vga2m/*.xpi
/synth/zxuno_vga2m/*.xst
/synth/zxuno_vga2m/*.map
/synth/zxuno_vga2m/*.mrp
/synth/zxuno_vga2m/*.ngm
/synth/zxuno_vga2m/*.xrpt
/synth/zxuno_vga2m/*.csv
/synth/zxuno_vga2m/*.txt
/synth/zxuno_vga2m/*.log
/synth/zxuno_vga2m/*.bgn
/synth/zxuno_vga2m/*.bit
/synth/zxuno_vga2m/*.drc
/synth/zxuno_vga2m/*.ut
/synth/zxuno_vga2m/*.xwbt
/synth/zxuno_vga2m/ipcore_dir/_xmsgs
/synth/zxuno_vga2m/ipcore_dir/*.cgc
/synth/zxuno_vga2m/ipcore_dir/*.ncf
/synth/cvuno/*.cmd
/synth/cvuno/*.iaf
/synth/cvuno/*.html
/synth/cvuno/iseconfig
/synth/cvuno/*.xml
/synth/cvuno/*.gise
/synth/cvuno/*.bld
/synth/cvuno/*.cmd_log
/synth/cvuno/*.lso
/synth/cvuno/*.ncd
/synth/cvuno/*.ngc
/synth/cvuno/*.ngd
/synth/cvuno/*.ngr
/synth/cvuno/*.pad
/synth/cvuno/*.par
/synth/cvuno/*.pcf
/synth/cvuno/*.prj
/synth/cvuno/*.ptwx
/synth/cvuno/*.stx
/synth/cvuno/*.syr
/synth/cvuno/*.twr
/synth/cvuno/*.twx
/synth/cvuno/*.unroutes
/synth/cvuno/*.xpi
/synth/cvuno/*.xst
/synth/cvuno/*.map
/synth/cvuno/*.mrp
/synth/cvuno/*.ngm
/synth/cvuno/*.xrpt
/synth/cvuno/*.csv
/synth/cvuno/*.txt
/synth/cvuno/*.log
/synth/cvuno/*.bgn
/synth/cvuno/*.bit
/synth/cvuno/*.drc
/synth/cvuno/*.ut
/synth/cvuno/*.xwbt
/synth/cvuno/_xmsgs
/synth/cvuno/_ngo
/synth/cvuno/xst/work
/synth/cvuno/xlnx_auto_0_xdb
/synth/cvuno/ipcore_dir/tmp
/synth/cvuno/ipcore_dir/pll1
/synth/cvuno/ipcore_dir/*.asy
/synth/cvuno/ipcore_dir/*.gise
/synth/cvuno/ipcore_dir/*.vho
/synth/cvuno/ipcore_dir/*.xdc
/synth/cvuno/ipcore_dir/*.txt
/synth/cvuno/ipcore_dir/*.tcl
/synth/cvuno/ipcore_dir/*.log
/synth/cvuno/ipcore_dir/*.sym
/synth/cvuno/ipcore_dir/_xmsgs
/synth/cvuno/ipcore_dir/*.cgc
/synth/cvuno/ipcore_dir/*.ncf
/synth/cvuno3/*.cmd
/synth/cvuno3/*.iaf
/synth/cvuno3/*.html
/synth/cvuno3/iseconfig
/synth/cvuno3/*.xml
/synth/cvuno3/*.gise
/synth/cvuno3/*.bld
/synth/cvuno3/*.cmd_log
/synth/cvuno3/*.lso
/synth/cvuno3/*.ncd
/synth/cvuno3/*.ngc
/synth/cvuno3/*.ngd
/synth/cvuno3/*.ngr
/synth/cvuno3/*.pad
/synth/cvuno3/*.par
/synth/cvuno3/*.pcf
/synth/cvuno3/*.prj
/synth/cvuno3/*.ptwx
/synth/cvuno3/*.stx
/synth/cvuno3/*.syr
/synth/cvuno3/*.twr
/synth/cvuno3/*.twx
/synth/cvuno3/*.unroutes
/synth/cvuno3/*.xpi
/synth/cvuno3/*.xst
/synth/cvuno3/*.map
/synth/cvuno3/*.mrp
/synth/cvuno3/*.ngm
/synth/cvuno3/*.xrpt
/synth/cvuno3/*.csv
/synth/cvuno3/*.txt
/synth/cvuno3/*.log
/synth/cvuno3/*.bgn
/synth/cvuno3/*.bit
/synth/cvuno3/*.drc
/synth/cvuno3/*.ut
/synth/cvuno3/*.xwbt
/synth/cvuno3/_xmsgs
/synth/cvuno3/_ngo
/synth/cvuno3/xst/work
/synth/cvuno3/xlnx_auto_0_xdb
/synth/cvuno3/ipcore_dir/tmp
/synth/cvuno3/ipcore_dir/pll1
/synth/cvuno3/ipcore_dir/*.asy
/synth/cvuno3/ipcore_dir/*.gise
/synth/cvuno3/ipcore_dir/*.vho
/synth/cvuno3/ipcore_dir/*.xdc
/synth/cvuno3/ipcore_dir/*.txt
/synth/cvuno3/ipcore_dir/*.tcl
/synth/cvuno3/ipcore_dir/*.log
/synth/cvuno3/ipcore_dir/*.sym
/synth/cvuno3/ipcore_dir/_xmsgs
/synth/cvuno3/ipcore_dir/*.cgc
/synth/cvuno3/ipcore_dir/*.ncf
