MEMORY
{
   ROM1:  start = $A000, size = $FCC, fill = yes, fillval = $ff;
   ROM4:  start = $AFCC, size = $4, fill = yes, fillval = $ff;
   ROM5:  start = $AFD0, size = $30;
}

SEGMENTS
{
   CODE:    load = ROM1, type = ro;
   WRMSTRT: load = ROM4, type = ro;
   VSN:     load = ROM5, type = ro;
}
